body {
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    display: inline-block;
    position: relative;
    border: 1px black solid;
    padding: 10px;
    width: 200px;
}

input {
    display: block;
    margin: 0 0 5px 5px;
}

button {
    height: 30px;
    width: 35px;
    margin: 10px 5px;
}
#result {
    height: 20px;
    width: 150px;
    margin-bottom: 5px;
    font-size: 0.7em;
    margin: 0 0 5px 5px;
}

#zero {
    width: 85px;
}

#number-pad {
    display: inline-block;
    position: relative;
}

#operations {
    display: inline-block;
    position: absolute;
}